@mixin strength-color($color) {
  border-color: $color;
  background-color: $color;
}

.strength-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111016;
  padding: 1rem;

  p {
    margin: 0;
    color: #7f7d8a;
    font-weight: 500;
    font-size: 0.85rem;
    text-transform: uppercase;
  }

  .strength-container {
    display: flex;
    gap: 0.5rem;

    p {
      font-weight: 600;
      font-size: 1.2rem;
    }

    &.weak p {
      color: red;
    }

    &.medium p {
      color: #f7cd69;
    }

    &.strong p {
      color: orange;
    }

    &.very-strong p {
      color: green;
    }

    &.weak .strength-icon-container div:first-child {
      @include strength-color(red);
    }

    &.medium .strength-icon-container div:nth-child(-n + 2) {
      @include strength-color(#f7cd69);
    }

    &.strong .strength-icon-container div:nth-child(-n + 3) {
      @include strength-color(orange);
    }

    &.very-strong .strength-icon-container div {
      @include strength-color(green);
    }

    .strength-icon-container {
      display: flex;
      gap: 0.3rem;

      div {
        box-sizing: border-box;
        border: 1px solid #eae9ef;
        width: 0.5rem;
        height: 100%;
      }
    }
  }

  @media screen and (min-width: 540px) {
    padding: 1.2rem 1.5rem;

    p {
      font-size: 1rem;
    }

    .strength-container {
      gap: 0.8rem;

      p {
        font-size: 1.5rem;
      }

      .strength-icon-container {
        gap: 0.4rem;

        div {
          width: 0.65rem;
        }
      }
    }
  }
}
