.slider {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .slider-title {
      padding: 0;
      color: #eae9ef;
      font-weight: 500;
      font-size: 1.2rem;
    }

    .slider-value {
      margin: 0;
      padding: 0.5rem 0;
      color: #9ef8a6;
      font-weight: 600;
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}
